body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#F72585, #B5179E, #480CA8);
    color: #FFFDD0;
}

h1, h2, h3, h4, p {
    text-shadow: 2px 2px 1px black;
}

#bff-img {
    width: 200px;
    border-radius: 50%;
    border: 6px solid #4CC9F0;
    margin-bottom: 10px;
}

#bday-age {
    background: #4895EF;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #4895EF;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #4CC9F0;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url(https://media3.giphy.com/media/5GoVLqeAOo6PK/giphy.gif?cid=ecf05e47pxy8kjmnpr91sx7i6efvye72ynrz82di9mroxut6&rid=giphy.gif&ct=g);
    background-size: cover;
}

#gift-img-hot:hover {
    background-image: url(https://media1.giphy.com/media/I8twpHFWBbF44HsAAx/giphy.gif?cid=ecf05e47ek1azdi95a29chbn5ehwe90712bj5w6akwodmayv&rid=giphy.gif&ct=g);
}

#gift-img-genius:hover {
    background-image: url(https://media3.giphy.com/media/U3yyshYY8hYMNqgllg/giphy.gif?cid=ecf05e47chcitpk96f2283yztp3yqd4t9jo67rouszk5fmb4&rid=giphy.gif&ct=g);
}

#gift-img-badass:hover {
    background-image: url(https://media3.giphy.com/media/l1J9uPMOQOqO8tfAQ/giphy.gif?cid=ecf05e47tuv55jnk5qqyzairy84w1kx5m7xk71bxod8vho6m&rid=giphy.gif&ct=g);
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/